@page "/"
@page "/map"
@page "/maptestdisable"
@page "/maptestenable"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using TeamResources = Konqvist.Web.Components.TeamResources

@implements IAsyncDisposable

@attribute [Authorize]

@inject IGeolocationService GeolocationService
@inject IToastService ToastService
@inject SessionProvider SessionProvider
@inject NavigationManager NavigationManager
@inject MapDataStore MapDataStore

<FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
    <OpenStreetMap @bind-Rotation="_rotation"
                   @bind-Center="_center"
                   OnClick="OnMapClick"
                   OnRenderComplete="@(() => _ = "for some reason this makes the popup work")"
                   ZoomSliderControl
                   InitialCenter="@_center"
                   InitialZoom="14"
                   MinZoom="14"
                   MaxZoom="18"
                   FullScreenControl
                   ScaleLineUnit="ScaleLineUnit.None"
                   AttributionControl="false">
        <Layers>
            <MapLayer />
            <DistrictsLayer @ref="_districtsLayer" />
            <TriggerCirclesLayer />
            <TeamsLayer @ref="_teamsLayer" Visibility="_showTeams" />
        </Layers>
        <Popup>
            <div id="popup" class="ol-box">
                @if (context is District district)
                {
                    <h4>@district.Name</h4>
                    <ul>
                        @foreach (var prop in district.ResourceDictionary)
                        {
                            <li>
                                @*                                 <FluentIcon Color="Color.Custom" 
                                            CustomColor="#000" 
                                            Value="@(new NavIcons.CoinStack())" /> *@
                                @prop.Key: @prop.Value
                            </li>
                        }
                    </ul>
                    <p>Owner: @district.Owner</p>
                }
            </div>
        </Popup>
    </OpenStreetMap>
    @if (Session.IsAdmin == false)
    {
        <TeamResources Style="margin-top: -40px" />
    }
</FluentStack>

<SectionContent SectionName="FooterContentSection">
    <FluentSpacer />
    <FluentToolbar>
        <FluentButton IconEnd="@(new NavIcons.GlobeLocation())"
                      OnClick="CenterMap"
                      Title="Center on game area" />
        <FluentButton IconEnd="@(new NavIcons.MyLocation())"
                      OnClick="CenterLocation"
                      Title="Center on current location" />
        <FluentButton IconEnd="@(new NavIcons.Eye())"
                      OnClick="@(() => _showTeams = !_showTeams)"
                      Title="Show/Hide Teams" />
        <FluentButton IconEnd="@(new NavIcons.Organization())"
                      OnClick="ShowDashboard"
                      Disabled="!AllowManagement"
                      Title="Management Dashboard" />
    </FluentToolbar>
    <FluentSpacer />
</SectionContent>

@code {
    private static readonly Coordinate DefaultCenter = new([6.261195479378347, 51.87638698662113]);

    private Coordinate _center = DefaultCenter;
    private double _rotation;
    private double _watchId;
    private bool _showTeams = true;
    private TeamsLayer? _teamsLayer;
    private DistrictsLayer? _districtsLayer;
    private UserSession Session => SessionProvider.Session;
    private bool AllowManagement => Session.IsAdmin || Session.IsTeamLeader;

    #region Overrides of ComponentBase

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (NavigationManager.Uri.Contains("maptestenable"))
        {
            MapDataStore.TestmodeEnabled = true;
            NavigationManager.NavigateTo("/map");
            return;
        }

        if (NavigationManager.Uri.Contains("maptestdisable"))
        {
            MapDataStore.TestmodeEnabled = false;
            NavigationManager.NavigateTo("/map");
            return;
        }

        if (Session.IsPlayer)
        {
            _watchId = await GeolocationService.WatchPositionAsync(OnLocationChanged, OnLocationError, new PositionOptions()
                {
                    MaximumAge = 5000,
                    EnableHighAccuracy = true,
                    Timeout = 10000
                });
        }
    }

    private void OnLocationError(GeolocationPositionError positionError)
    {
        Console.WriteLine($"*** Position Error: {positionError.Message}");
        ToastService.ShowError(positionError.Message);
    }

    private void OnLocationChanged(GeolocationPosition obj)
    {
        Console.WriteLine($"*** Location received: {obj.Coords.Latitude}, {obj.Coords.Longitude}");
        
        var coordinate = new Coordinate(obj.Coords.Longitude, obj.Coords.Latitude);
        UpdateLocation(coordinate).GetAwaiter().GetResult();
    }

    #endregion
    
    private Task OnMapClick(Coordinate coordinate)
    {
        // this should only work in test mode
        return !MapDataStore.TestmodeEnabled 
            ? Task.CompletedTask 
            : UpdateLocation(coordinate);
    }

    private async Task UpdateLocation(Coordinate coordinate)
    {
        if (_districtsLayer is null) return;

        await _districtsLayer.TryClaimDistrict(coordinate, Session.TeamName);

        if (_teamsLayer is not null)
            await _teamsLayer.BroadcastNewLocation(Session.TeamName, coordinate);
    }

    private async Task CenterLocation()
    {
        var team = await MapDataStore.GetTeamByName(Session.TeamName);

        _center = team.PlayerLoggedIn
            ? team.Location
            : DefaultCenter;
    }

    private void CenterMap()
    {
        _center = DefaultCenter;
    }


    private void ShowDashboard(MouseEventArgs arg)
    {
        NavigationManager.NavigateTo("/management");
    }

    #region Implementation of IAsyncDisposable

    public async ValueTask DisposeAsync()
    {
        await GeolocationService.ClearWatchAsync(_watchId);
    }

    #endregion

}